# Internal TODO files
*.todo

# Sublime Text project and workspace files
*.sublime-*

# Exclude files that are related to the documentation generation.
.venv/
.cache/
site/

# Exclude Python cache
__pycache__