div.word-wrapped pre > code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}

/* Set a heading color for the dark theme. */
[data-md-color-scheme="slate"] {
  --heading-color: rgb(11, 196, 198);
}

/* For the light theme, use a darker version. */
[data-md-color-scheme="default"] {
  --heading-color: rgb(61, 119, 123);
}

article > :is(h1, h2, h3, h4, h5, h6) {
  color: var(--heading-color) !important;
}

a.external-link::after {
  content: "";
  display: inline-block;

  width: 0.8em;
  height: 0.8em;

  margin-left: 0.2em;

  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z'/%3E%3C/svg%3E");

  mask-size: contain;
  mask-repeat: no-repeat;
}